[ req ]
default_bits           = 4096
days                   = 9999
distinguished_name     = req_distinguished_name
attributes             = req_attributes
prompt                 = no
x509_extensions        = v3_ca

[ req_distinguished_name ]
C                      = BY
ST                     = MI
L                      = MI
O                      = Example Co
OU                     = exco
CN                     = localhost
emailAddress           = andreyfa12@mail.ru

[ req_attributes ]
challengePassword      = 1234

[ v3_ca ]
authorityInfoAccess = @issuer_info

[ issuer_info ]
OCSP;URI.0 = http://www.pentagon.by/
caIssuers;URI.0 = http://www.pentagon.by/ca.cert